<div class="dx-fieldset-header"><b>Connect Database</b></div>
<div class="selections">
<dx-box direction='row'>
  <dxi-item [ratio]='1'>
    Server Name: <dx-text-box placeholder='mpd-myBox\SQLInstance' [(ngModel)]='_dbConnData.server'></dx-text-box><br>
    SQL UserName: <dx-text-box placeholder='Username' [(ngModel)]='_dbConnData.user'></dx-text-box><br>
    SQL Password: <dx-text-box mode='password' placeholder='Password' [(ngModel)]='_dbConnData.password'></dx-text-box><br>
    <dx-button id="submit" text='Get Databases' (onClick)='showDbList()' type='default'>Get Databases</dx-button>
  </dxi-item>
</dx-box>
</div>