.wrapper {
    justify-content: center;
  }
  
  .choose {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #337ab7;
  }
  
  .choose:hover {
      background-color: #0065a1;
    }

  .choose.active {
    background-color: #403c33
  }
  